@model Huellitas.SysVeterinaria.EN.Employee_EN.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout"; //Permite la navegacion hacia el layout
}

<h1>Mantenimiento Empleados</h1>

<h2>Informacion Personal / Informacion Adicional</h2>
<hr />

<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="display:flex">

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Dui" class="form-label"></label>
            <input asp-for="Dui" type="text" class="form-control" placeholder="xxxxxxxx-x" />
            <span asp-validation-for="Dui" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="BirthDate" class="form-label"></label>
            <input asp-for="BirthDate" type="date" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>

    <div style="display:flex">
        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Gender" class="form-label"></label>
            <select class="form-select" name="Gender">
                <option value="seleccionar">Seleccionar..</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="CivilStatus" class="form-label"></label>
            <select class="form-select" name="CivilStatus">
                <option value="seleccionar">Seleccionar..</option>
                <option value="soltero/a">Soltero/a</option>
                <option value="casado/a">Casado/a</option>
                <option value="divorciado/a">Divorciado/a</option>
                <option value="viudo/a">Viudo/a</option>
            </select>
            <span asp-validation-for="CivilStatus" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3" style="margin-right:3%">
            <label asp-for="EmergencyNumber" class="form-label"></label>
            <input asp-for="EmergencyNumber" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="EmergencyNumber" class="text-danger"></span>
        </div>
    </div>

    <div style="display:flex">
        <div class="mb-3" style="margin-right:3%">
            <label asp-for="AcademicTitle" class="form-label"></label>
            <input asp-for="AcademicTitle" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="AcademicTitle" class="text-danger"></span>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label asp-for="AreaOfSpecialization" class="form-label"></label>
            <input asp-for="AreaOfSpecialization" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="AreaOfSpecialization" class="text-danger"></span>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label asp-for="Position" class="form-label"></label>
            <select class="form-select" name="Position">
                <option value="seleccionar">Seleccionar..</option>
                <option value="veterinario/a">Veterinario/a</option>
                <option value="enfermero/a">Enfermero/a</option>
                <option value="secretario/a">Secretario/a</option>
                <option value="viudo/a">Personal de Limpieza</option>
            </select>
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="mb-4" style="margin-right:3%">
            <label asp-for="RelevantMedicalConditions" class="form-label"></label>
            <input asp-for="RelevantMedicalConditions" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="RelevantMedicalConditions" class="text-danger"></span>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label asp-for="KnownAllergies" class="form-label"></label>
            <input asp-for="KnownAllergies" type="text" class="form-control" placeholder="Ingresar" />
            <span asp-validation-for="KnownAllergies" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3" style="margin-right:3%">
        <label asp-for="WorkExperience" class="form-label"></label>
        <input asp-for="WorkExperience" type="text" class="form-control" placeholder="Ingresar" />
        <span asp-validation-for="WorkExperience" class="text-danger"></span>
    </div>


    <div style="display:inline-flex">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Buscar Empleado">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <a href="#" class="btn btn-success m-1">Buscar</a>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Grardar" class="btn btn-primary" />
        </div>
    </div>


    <div class="card w-200">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Resultados de Busqueda</h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Nombre</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Apellido</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Dui</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Edad</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Genero</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Telefono</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Acciones</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">Sunil Joshi</h6>
                                <span class="fw-normal">Web Designer</span>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">Elite Admin</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-primary rounded-3 fw-semibold">Low</span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0 fs-4">$3.9</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">Andrew McDownland</h6>
                                <span class="fw-normal">Project Manager</span>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">Real Homes WP Theme</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-secondary rounded-3 fw-semibold">Medium</span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0 fs-4">$24.5k</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
