@model Huellitas.SysVeterinaria.EN.Employee_EN.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";

}


<form>

    <h1>Mantenimiento Empleados</h1>

     <h2>Informacion Personal / Informacion Adicional</h2>

    <div style="display:flex">
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Apellido:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Dui:</label>
            <input type="text" class="form-control" placeholder="xxxxxxxx-x">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Fecha de Nacimiento:</label>
            <input type="date" class="form-control">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Edad:</label>
            <input type="text" class="form-control p-2" placeholder="Ingresar">
        </div>
    </div>
    <div style="display:flex">
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Genero:</label>
            <select class="form-select" required>
                <option value="seleccionar">Seleccionar..</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Estado Civil:</label>
            <select class="form-select" required>
                <option value="seleccionar">Seleccionar..</option>
                <option value="soltero/a">Soltero/a</option>
                <option value="casado/a">Casado/a</option>
                <option value="divorciado/a">Divorciado/a</option>
                <option value="viudo/a">Viudo/a</option>
            </select>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Direccion:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Correo Electronico:</label>
            <input type="email" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Telefono:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Telefono de Emergencia:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
    </div>
    <div style="display:flex">
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Titulo Academico:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Area de Especializacion:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Puesto:</label>
            <select class="form-select" required>
                <option value="seleccionar">Seleccionar..</option>
                <option value="veterinario/a">Veterinario/a</option>
                <option value="enfermero/a">Enfermero/a</option>
                <option value="secretario/a">Secretario/a</option>
                <option value="viudo/a">Personal de Limpieza/a</option>
            </select>
        </div>
        <div class="mb-3" style="margin-right:3%">
            <label class="form-label">Alergias Conocidas:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
        <div class="mb-4" style="margin-right:3%">
            <label class="form-label">Condicion Medica Relevante:</label>
            <input type="text" class="form-control" placeholder="Ingresar">
        </div>
    </div>
    <div class="mb-3" style="margin-right:3%">
        <label class="form-label">Experiencia Laboral:</label>
        <input type="text" class="form-control" placeholder="Ingresar">
    </div>
    <div style="display:inline-flex">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Buscar Empleado">
        </div>
        <div class="mb-3" style="margin-right:3%">
            <a href="#" class="btn btn-success m-1">Buscar</a>
        </div>
        <div class="mb-3">
            <a href="#" class="btn btn-primary m-1">Guardar Empleado</a>
        </div>
    </div>

    <div class="card w-200">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Resultados de Busqueda</h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Nombre</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Apellido</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Dui</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Edad</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Genero</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Telefono</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Acciones</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">Sunil Joshi</h6>
                                <span class="fw-normal">Web Designer</span>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">Elite Admin</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-primary rounded-3 fw-semibold">Low</span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0 fs-4">$3.9</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">Andrew McDownland</h6>
                                <span class="fw-normal">Project Manager</span>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">Real Homes WP Theme</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-secondary rounded-3 fw-semibold">Medium</span>
                                </div>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0 fs-4">$24.5k</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
