@* Referencia al Modelo a utilizar *@
@using Huellitas.SysVeterinaria.EN.Position_EN
@model Huellitas.SysVeterinaria.EN.Employee_EN.Employee

@{
    // Titulo de la Pestaña
    ViewData["Title"] = "Crear Empleado";
    List<Position> positions = ViewBag.Position as List<Position>;
}
<br />
<br />
<br />
<h2>Crear Nuevo Empleado</h2>
<span style="color:red">
    @ViewBag.Error
</span>
<hr />
<div class="row">
    <div style="display:flex">
        <form id="Form" asp-action="Create" onsubmit="CreateRecord(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-16">
                    <div class="card">
                        <div class="card-header">Informacion Personal</div>
                        <div class="card-body">
                            <div style="display:flex">
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="Name" class="form-label"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style=" margin-right:3%">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style=" width:140px; margin-right:3%">
                                    <label asp-for="Dui" class="form-label"></label>
                                    <input asp-for="Dui" class="form-control" placeholder="xxxxxxxx-x" id="inputDui" autocomplete="off" />
                                    <span asp-validation-for="Dui" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="BirthDate" class="form-label"></label>
                                    <input asp-for="BirthDate" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:80px; margin-right:3%">
                                    <label asp-for="Age" class="form-label"></label>
                                    <input asp-for="Age" class="form-control" readonly />
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="Gender" class="form-label"></label>
                                    <select class="form-select" name="Gender">
                                        <option value="Seleccionar">Seleccionar..</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="CivilStatus" class="form-label"></label>
                                    <select class="form-select" name="CivilStatus">
                                        <option value="Seleccionar">Seleccionar..</option>
                                        <option value="Soltero/a">Soltero/a</option>
                                        <option value="Casado/a">Casado/a</option>
                                        <option value="Divorciado/a">Divorciado/a</option>
                                        <option value="Viudo/a">Viudo/a</option>
                                    </select>
                                    <span asp-validation-for="CivilStatus" class="text-danger"></span>
                                </div>
                                <div class="mb-2" style=" width:600px; margin-right:3% ">
                                    <label asp-for="Address" class="form-label"></label>
                                    <input asp-for="Address" type="text" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style=" width:140px; margin-right:3%">
                                    <label asp-for="Phone" class="form-label"></label>
                                    <input asp-for="Phone" type="text" class="form-control" id="inputPhone" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:500px; margin-right:3%">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:170px; margin-right:3%">
                                    <label asp-for="EmergencyNumber" class="form-label"></label>
                                    <input asp-for="EmergencyNumber" type="text" class="form-control" id="inputPhoneEmergency" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="EmergencyNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-16">
                    <div class="card">
                        <div class="card-header">Informacion Adicional</div>
                        <div class="card-body">
                            <div style="display:flex">
                                <div class="mb-3" style="width:300px;margin-right:3%">
                                    <label asp-for="AcademicTitle" class="form-label"></label>
                                    <input asp-for="AcademicTitle" type="text" class="form-control" placeholder="Ingresar" autocomplete="off"/>
                                    <span asp-validation-for="AcademicTitle" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:600px;margin-right:3%">
                                    <label asp-for="WorkExperience" class="form-label"></label>
                                    <input asp-for="WorkExperience" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="WorkExperience" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="width:600px;margin-right:3%">
                                    <label asp-for="AreaOfSpecialization" class="form-label"></label>
                                    <input asp-for="AreaOfSpecialization" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="AreaOfSpecialization" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:300px;margin-right:3%">
                                    <label asp-for="IdPosition" class="form-label"></label>
                                    <select class="form-select" name="IdPosition">
                                        @foreach(var position in positions)
                                        {
                                            <option value="@position.Id">@position.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="IdPosition" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="width:450px;margin-right:3%">
                                    <label asp-for="KnownAllergies" class="form-label"></label>
                                    <input asp-for="KnownAllergies" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="KnownAllergies" class="text-danger"></span>
                                </div>
                                <div class="mb-4" style="width:450px;margin-right:3%">
                                    <label asp-for="RelevantMedicalConditions" class="form-label"></label>
                                    <input asp-for="RelevantMedicalConditions" class="form-control" placeholder="Ingresar" autocomplete="off" />
                                    <span asp-validation-for="RelevantMedicalConditions" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3" style="margin-right:3%">
                <input type="submit" value="Crear Empleado" class="btn btn-primary" style="margin-right:3%; width:200px" />
                <a asp-action="Index">Regresar</a>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function CreateRecord(e) {
            e.preventDefault();

            const form = document.getElementById('Form');
            const inputs = document.querySelectorAll('.form-input');

            inputs.forEach(function (input) {
                if (!input.value.trim()) {
                    // Si el campo está vacío, no hacemos nada
                    return;
                }
            });

            Swal.fire({
                title: '¿Guardar Nuevo Registro?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si, Guardar Registro',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }

        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }

        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }

        document.getElementById('inputDui').addEventListener('input', function (event) {
            var inputValue = event.target.value;
            var formattedValue = formatDui(inputValue);
            event.target.value = formattedValue;
        });

        function formatDui(inputValue) {
            inputValue = inputValue.replace(/\D/g, ''); // Remover todos los caracteres que no sean dígitos
            var formattedValue = '';
            for (var i = 0; i < inputValue.length; i++) {
                if (i == 8) {
                    formattedValue += '-' + inputValue.charAt(i);
                } else {
                    formattedValue += inputValue.charAt(i);
                }
            }
            return formattedValue;
        }

        document.addEventListener("DOMContentLoaded", function () {
            const birthDateInput = document.querySelector('input[name="BirthDate"]');
            const ageInput = document.querySelector('input[name="Age"]');

            // Function to calculate age
            function calculateAge() {
                const birthDateValue = birthDateInput.value.trim();
                if (birthDateValue !== "") {
                    const birthDate = new Date(birthDateValue);
                    const currentDate = new Date();

                    let age = currentDate.getFullYear() - birthDate.getFullYear(); // Calculate age by subtracting birth year from current year

                    // Adjust age if the birth date hasn't occurred yet this year
                    if (birthDate.getMonth() > currentDate.getMonth() ||
                        (birthDate.getMonth() === currentDate.getMonth() && birthDate.getDate() > currentDate.getDate())) {
                        age--;
                    }

                    ageInput.value = age; // Update the age field
                } else {
                    ageInput.value = ""; // Clear the age field if no birth date is provided
                }
            }

            // Add event listener for change in birth date
            birthDateInput.addEventListener('change', calculateAge);

            // Calculate age when the page loads
            calculateAge();
        });

        document.addEventListener("DOMContentLoaded", function () {
            const inputPhone = document.getElementById('inputPhone');
            const inputPhoneEmergency = document.getElementById('inputPhoneEmergency');

            function formatPhoneNumber(input) {
                let phoneNumber = input.value.replace(/\D/g, ''); // Elimina cualquier carácter que no sea número
                if (phoneNumber.length > 4) {
                    phoneNumber = phoneNumber.slice(0, 4) + '-' + phoneNumber.slice(4, 8); // Formatea el número con un guion después de los primeros 4 dígitos
                }
                input.value = phoneNumber;
            }

            inputPhone.addEventListener('input', function (e) {
                formatPhoneNumber(e.target);
            });

            inputPhoneEmergency.addEventListener('input', function (e) {
                formatPhoneNumber(e.target);
            });
        });
    </script>

}