@model Huellitas.SysVeterinaria.EN.Employee_EN.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />

<h2>Informacion Personal / Informacion Adicional</h2>
<hr />

<div class="row">
    <div style="display:flex">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-16">
                    <div class="card">
                        <div class="card-header">Informacion Personal</div>
                        <div class="card-body">
                            <div style="display:flex" >
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="Name" class="form-label"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style=" margin-right:3%">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style=" width:140px; margin-right:3%">
                                    <label asp-for="Dui" class="form-label"></label>
                                    <input asp-for="Dui" class="form-control" placeholder="xxxxxxxx-x" />
                                    <span asp-validation-for="Dui" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="BirthDate" class="form-label"></label>
                                    <input asp-for="BirthDate" class="form-control" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>


                                <div class="mb-3" style="width:80px; margin-right:3%">
                                    <label asp-for="Age" class="form-label"></label>
                                    <input asp-for="Age" class="form-control" />
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>

                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="Gender" class="form-label"></label>
                                    <input asp-for="Gender" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="CivilStatus" class="form-label"></label>
                                    <input asp-for="CivilStatus" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="CivilStatus" class="text-danger"></span>
                                </div>
                                <div class="mb-2" style=" width:600px; margin-right:3% ">
                                    <label asp-for="Address" class="form-label"></label>
                                    <input asp-for="Address" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>

                            <div style="display:flex">
                                <div class="mb-3" style=" width:140px; margin-right:3%">
                                    <label asp-for="Phone" class="form-label"></label>
                                    <input asp-for="Phone" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:500px; margin-right:3%">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:170px; margin-right:3%">
                                    <label asp-for="EmergencyNumber" class="form-label"></label>
                                    <input asp-for="EmergencyNumber" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="EmergencyNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-16">
                    <div class="card">
                        <div class="card-header">Informacion Adicional</div>
                        <div class="card-body">
                            <div style="display:flex">
                                <div class="mb-3" style="width:300px;margin-right:3%">
                                    <label asp-for="AcademicTitle" class="form-label"></label>
                                    <input asp-for="AcademicTitle" type="text" class="form-control" placeholder="Ingresar" />
                                    <span asp-validation-for="AcademicTitle" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:600px;margin-right:3%">
                                    <label asp-for="WorkExperience" class="form-label"></label>
                                    <input asp-for="WorkExperience" class="form-control" />
                                    <span asp-validation-for="WorkExperience" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="width:600px;margin-right:3%">
                                    <label asp-for="AreaOfSpecialization" class="form-label"></label>
                                    <input asp-for="AreaOfSpecialization" class="form-control" />
                                    <span asp-validation-for="AreaOfSpecialization" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="width:300px;margin-right:3%">
                                    <label asp-for="Position" class="form-label"></label>
                                    <input asp-for="Position" class="form-control" />
                                    <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                            </div>

                            <div style="display:flex">
                                <div class="mb-3" style="width:450px;margin-right:3%">
                                    <label asp-for="KnownAllergies" class="form-label"></label>
                                    <input asp-for="KnownAllergies" class="form-control" />
                                    <span asp-validation-for="KnownAllergies" class="text-danger"></span>
                                </div>
                                <div class="mb-4" style="width:450px;margin-right:3%">
                                    <label asp-for="RelevantMedicalConditions" class="form-label"></label>
                                    <input asp-for="RelevantMedicalConditions" class="form-control" />
                                    <span asp-validation-for="RelevantMedicalConditions" class="text-danger"></span>
                                </div>

                            </div>
                            <div style="display:flex">
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="CreationDate" class="form-label"></label>
                                    <input asp-for="CreationDate" class="form-control" />
                                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                                </div>
                                <div class="mb-3" style="margin-right:3%">
                                    <label asp-for="ModificationDate" class="form-label"></label>
                                    <input asp-for="ModificationDate" class="form-control" />
                                    <span asp-validation-for="ModificationDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3" style="margin-right:3%">
                <input type="submit" value="Editar" class="btn btn-info" style="margin-right:3%; width:200px" />
                <a asp-action="Index">Regresar</a>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
