@model Huellitas.SysVeterinaria.EN.Position_EN.Position

@{
    ViewData["Title"] = "Crear Puesto o Cargo"; // Titulo de la Pestaña
}
<br />
<br />
<br />
<h1>Crear Nuevo Puesto o Cargo</h1>
<span style="color:red">
    @ViewBag.Error
</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="Form" asp-action="Create" onsubmit="CreateRecord(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear Puesto o Cargo" class="btn btn-primary" style="margin-right:20px"/>
                <a asp-action="Index">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function CreateRecord(e) {
            e.preventDefault();

            const form = document.getElementById('Form');
            const inputs = document.querySelectorAll('.form-input');

            inputs.forEach(function (input) {
                if (!input.value.trim()) {
                    // Si el campo está vacío, no hacemos nada
                    return;
                }
            });

            Swal.fire({
                title: '¿Guardar Nuevo Registro?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si, Guardar Registro'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}