@model Huellitas.SysVeterinaria.EN.Position_EN.Position

@{
    ViewData["Title"] = "Editar Puesto o Cargo"; // Titulo de la pestaña
}
<br />
<br />
<br />
<h1>Modificar Puesto o Cargo Existente</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Modificar Puesto o Cargo" class="btn btn-primary" style="margin-right:20px"/>
                <a asp-action="Index">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
