﻿@* Referencia al Modelo a utilizar *@
@model Huellitas.SysVeterinaria.EN.Services_EN.Service

@{
    ViewData["Title"] = "Editar Servicio"; // Totulo de la Pestaña
}
<br />
<br />
<br />
<h1>Modificar Servicio Existente</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    @{
                        // Verificamos si el precio es mayor o igual a 1000
                        if (Model.Price >= 1000)
                        {
                            // Si es mayor o igual a 1000, agregamos comas para separar los miles
                            <input id="priceInput" asp-for="Price" class="form-control" value="@string.Format("{0:n}", Model.Price)" placeholder="00.00" />
                        }
                        else
                        {
                            // Si es menor a 1000, mostramos el precio sin comas
                            <input id="priceInput" asp-for="Price" class="form-control" placeholder="00.00" />
                        }
                    }
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationTime" class="control-label"></label>
                <input asp-for="DurationTime" class="form-control" />
                <span asp-validation-for="DurationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-select" name="Status" id="cbxStatus">
                    <option value="ACTIVO">Activo</option>
                    <option value="INACTIVO">Inactivo</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mb-3" style="margin-right:3%">
                <input type="submit" value="Editar Registro" class="btn btn-info" style="margin-right:3%; width:200px" />
                <a asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Establecer el valor seleccionado para cbxGenero
            $("#cbxStatus").val('@Model.Status');
        });
    </script>

    <script>
        document.getElementById('priceInput').addEventListener('input', function (event) {
            var inputValue = event.target.value;
            var formattedValue = formatPrice(inputValue);
            event.target.value = formattedValue;
        });

        function formatPrice(inputValue) {
            inputValue = inputValue.replace(/\D/g, ''); // Remover todo excepto números
            var integerPart = inputValue.slice(0, -2); // Obtener parte entera
            var decimalPart = inputValue.slice(-2); // Obtener parte decimal (últimos 2 dígitos)
            var formattedIntegerPart = addThousandSeparator(integerPart); // Agregar separador de miles
            var formattedValue = formattedIntegerPart + '.' + decimalPart; // Unir parte entera y parte decimal con punto
            return formattedValue;
        }

        function addThousandSeparator(integerPart) {
            var formattedIntegerPart = '';
            for (var i = integerPart.length - 1, j = 1; i >= 0; i--, j++) {
                formattedIntegerPart = integerPart[i] + formattedIntegerPart;
                if (j % 3 === 0 && i !== 0) {
                    formattedIntegerPart = ',' + formattedIntegerPart;
                }
            }
            return formattedIntegerPart;
        }
    </script>
}
